body
	{
		
	}
	
 
	
/*.zoom:hover {
   /* Safari 3-8 */
  /*transform: scale(1.1);
  overflow: hidden; 
  box-shadow: 5px 10px;
}*/
.panel-body 
{
    background-color: #f1f2f6;
}
  
.butt:hover
  {
    /*box-shadow: 10px 10px 5px grey;*/
    box-shadow: 3px 3px 5px #555;
  }
	#btn1
	{   
    background-color: #92ce0a;
		color:white;
		outline: none;
		border-radius: zero;
	}
	#btn2
	{ background-color: #ffe202;
		color:white;
	}
	#btn3
	{ background-color: #0052da;
		color:white;
	}
  body
  {
    
    margin-color:white;
    padding-color:white;
  }
  .row
  {
    background-color: white;
  }
  .container
  {
    background-color: white;
    box-shadow: outset 10000 10000 1000 1000px white;
  }
	#btn4
	{ background-color:  #ff7f00;
		color:white;
	}
	#btn5
	{   background-color: #04bacf;
		color:white;
		font-family: Open Sans;
		font-style: Semibold;
	}
	#img1
	{ 
    width: 330px;
    height: 140px;
		padding-top: 32px;
		padding-left: 88px;

	}
	#img2
	{
		padding-left: 14px; 
		padding-top: 22px;
		width: 900px;
		height: 440px;
	
	}
     
  .background-color
  {
  	background-color: #546de5;
  	text-align: center;

  }
  #c1
  {
     padding-top: 36px;
     padding-left: 30px;
     padding-right: 0px; 

  }


    
    .card-header {

    padding-left: 22px;
    height: 50px;
    text-align: center;
    font-size: 20px;
  }
  .pag
  {
  	background-color:  #92ce0a;
  	color: #92ce0a;
  }
  #h21
  {
  	color:#0052da;
    padding-top: 51px;
    padding-left: 15px;
  	text-transform: uppercase;
    line-height: 36px;
  	font-weight: lighter;
    font-size: 40px;
  }
  .pull-right
  {
  	padding-top: 6px;
  }


   #text
   {

   	margin-top: 50px;
   }
   #imgl
   {
    height: 135px;
    width: 270px;

   }
   #btn6
   { 
   	text-transform:uppercase;
    background-color: #97cc1e;
    color: white;

   }
#lc
{
	color: blue;

}
.fa {
  padding: 15px;
  font-size: 30px;
  width: 65px;
  text-align: center;
  text-decoration: none;
  margin: 3px -3px;
}
.fa-facebook {
  
  color: white;
}
#icon3
{
	background-color: #92ce0a;
	color: white;
}
#icon2
{
  color: white;
	background-color: #fff200;
}
#icon1
{ color: white;
	background-color: #0652DD; 
}
  #c5
  {
  	margin-top: 35px;
  }
  #pl3{
    margin-top: 15px;
  }
  


  #cf1
  {
    background-color: #fbefef;
    padding-right: 34px;
  }
   .butt
   {
   	height:35px;
   	width:145px;
   	font-weight: bolder;
   }
    #p14
    {
      font-size: 14px;
      text-align: justify;
      text-align: left;
      font-family: sans-serif;
      padding-left: 
    text-align: left;
    text-align: justify;
    margin-left: 32px;
    }
   #bord1
   {
   	text-align: left;
    display: block;
    font-size: 30px;
    margin-left: 30px;
    text-indent: 0px;
    font-style: sans-serif;
    font-family: Open Sans;
    font-weight: lighter;

   }
   .well
   {
   	background-color: #ff5241;
   	color: white;
    box-shadow: 0px 0px 0px transparent;
   	margin-left: 29px;
    margin-right: 0px;
   }
   #ph1
   {
   	text-align: center;
    background-color: #04bacf;
    text-transform: uppercase;
   	font-size: 20px;
   	font-weight: lighter;
   	color: white;
   	height: 50px;
   	overflow: visible;
   }
   .card-body
   {
   	border-width: 6px;
   	background-color: red;

   }
   .here
   {
    color:blue;
   }
   .i1
   {
   color: blue;
  }
  #imgll
  {
   margin-top: 73px;
   padding-right: 0px;
   margin-right: 5px;
   
  }
  .panel-footer
  {
  	text-align: center;
  	color: white;
  	font-family: sans-serif;
  	
  }
  #pp1{
   text-align: inherit;
   padding: 18px 16px 19px;

  }
.btn
{
	 border:1px #fff;
	 border-radius: 0px;
}
 .navbar-brand
 {
 	  margin-left: 30px;
 }
 #p11 {
		margin-right: 2px;
    margin-left: 32px;
    text-align: left;
    text-align: justify;
	}
	.bord
	{
		text-align: center;
	}
	.navbar-right
	{
		padding-right: 32px;
    padding-top: 12px;
	}
	#new{
		width: 100%;
	}
	#new11
	{
		background-color: #92ce0a;
	}
	#new12
	{
		background-color: #92ce0a;
		border-color: #92ce0a;
		font-size: 20px;
	}
	#new21
	{
		background-color: #fff200;
	}
	#new22
	{
		background-color: #fff200;
		border-color: #fff200;
		font-size: 20px;
	}
	#new31
	{
		background-color: #0652DD;
	}
	#new32
	{
		background-color: #0652DD;
		border-color: #0652DD;
		font-size: 20px;
	}
	#new41
	{
		background-color: #ff9f43;
    
	}
	#new42
	{
		background-color: #ff9f43;
		border-color: #ff9f43;
		font-size: 20px;
    }
    #new51:hover
    {
      box-shadow: 3px 3px 5px #555;
    }
	#au2{
		margin-top: 30px;
		color: blue;
    font-size: 30px;
	}
  
  #aaa
  {
    color: gray;

  }
	#au1
	{
    padding-left: 85px;
    padding-right: 40px;
    color: gray;
		margin-top: 24px;
	}
  #rm
  {
    padding-top: 5px;
    background-color: #97cc1e;
    color: white;
    text-transform: uppercase;
  }
  #au{
    padding-left: 110px;
  }
  #pl1
  {
    font-weight: lighter;
    color: gray;
  }
  #pl2
  {
    font-weight: lighter;
    color: gray;
    margin-top: -4px;
  }